body {
    margin: 0;
    height: 100vh;
}
.centeredBox {
    width: 50%;
    display: block;
    padding: 2.5%;
    text-align: center;
    margin: 0 auto 0 auto;
}
.loginForm {
    display: block;
    margin: auto;
}
.loginForm h1 {
    font-size: 3em;
}
.loginForm input {
    width: 60%;
    font-size: 1.5em;
    height: 2em;
    margin: 1% 1% 2.5% 1%;
}
.loginForm button {
    width: 15%;
    height: 1.25em;
    font-size: 1.5em;
}
.sideBar {
    background-color: #212121;
    float: left;
    width: 20%;
    height: 100%;
}
.sideBar img {
    display: block;
    width: 20vh;
    height: 20vh;
    margin: 10% auto 0 auto;
}
.sideBar ul {
    list-style-type: none;
    margin: 10% 0 0 0;
    padding: 0;
}
.sideBar li {
    background-color: #313131;
    padding: 2.5vh 0 2.5vh 0;
    margin: 0.5vh 0 0.5vh 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #afafaf;
}
.sidebar a {
    text-decoration: none;
    font-size: 2em;
}
.sideBar a:hover li {
    background-color: red;
}
.pageContainer {
    background-color: #121212;
    width: 80%;
    height: 100vh;
    float: right;
}