.centeredBox {
    width: 50%;
    display: block;
    padding: 2.5%;
    text-align: center;
    margin: 0 auto 0 auto;
}
.loginForm {
    display: block;
    margin: auto;
}
.loginForm h1 {
    font-size: 3em;
}
.loginForm input {
    width: 60%;
    font-size: 1.5em;
    height: 2em;
    margin: 1% 1% 2.5% 1%;
}
.loginForm button {
    width: 15%;
    height: 1.25em;
    font-size: 1.5em;
}